body {
    font-family: source-sans-pro, sans-serif;
    font-size: 15px;
}

/* We don't want Jumbotron to be responsive !!! */
.jumbotron
{
    border: 1px solid #dddddd;
    padding: 15px;
    min-height: 300px;
}

.brand {
    position: relative;
    width: 133px;
    height: 33px;
    margin: 0;
    content: url("../img/logo_menu.png");
    top: -10px;
}

.navbar-nav {
    top: 30px;
}

.overlay {
    background-color: #000;
    bottom: 0;
    left: 0;
    opacity: 0.5;
    filter: alpha(opacity = 50); /* IE7 & 8 */
    position: fixed;
    right: 0;
    top: 0;
    z-index: 1002;
}

.outPopUp{
    position:fixed;
    z-index:1002;
    top: 0;
    left: 0;
    right: 0;
    text-align: center;
}

.outPopUp * {
    opacity: 1;
}

.outPopUp p {
    display: none;
}

.webCamImage{
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 100%;
    border: 1px solid black;
}

.outPopUp .webCamImage, .centeredImage {
    max-width: 100%;
    max-height: 100%;
    height: auto;
    width: auto;

    left: 0;
    right: 0;
    top: 0;
    bottom: 0;

    position: absolute;
    margin: auto;
    border: 1px solid black;
}

.dropdown-menu {
    max-height: 400px;
    overflow: auto;
    width: 230px;
}

.list-item {
    padding-top: 6px;
    padding-left: 56px;
}

.no-reports {
    display: none;
}

/* Steve from media < 979 */
body {
    padding-top: 0;
}

/* Login */
.form-server {
    margin: auto;
    max-width: 500px;
}

.form-signin {
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}

.form-signin .form-signin-heading, .form-signin .checkbox {
    margin-bottom: 10px;
}

.form-signin .checkbox {
    font-weight: normal;
}

.form-signin .form-control {
    position: relative;
    font-size: 16px;
    height: auto;
    padding: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.form-signin .form-control:focus {
    z-index: 2;
}

.form-signin input[type="text"] {
    margin-bottom: -1px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

#loginBtn{
    max-width: 110px;
    margin: 0 auto;
    margin-top: 30px;
}

.table {
    font-size: 14px;
}

.table th {
    overflow: hidden;
}

.table td {
    overflow: hidden;
    vertical-align: middle;
    text-align: center;
}

.table img {
    max-width: 100%;
    max-height: 100%;
}

html, body, body > div {
    height: 100%;
}

.mainContainer {
    min-height: 460px;
    min-width: 300px;
    padding: 0;
    margin: 0;
}

.mainContent {
    height: auto;
}

.dynamicContent, .liveSource>.cameraContainer {
    background-color: #484448;
    border-radius: 5px;
}

.dropDownList {
    padding-bottom: 15px;
    margin-right: 10px;
    display: inline-block;
    vertical-align: middle;
}

.dropDownList>span {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 15px;
    color: #8d8f91;
    margin-right: 5px;
}

.cameraControls > div {
    width: 100%;
    height: 100%;
}

.libCell {
    text-align: center;
}

.libImage {
    border: 1px solid black;
    width: 95%;
}

.libraryContent > div > img {
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 100%;
    border: 1px solid black;
}

.fullsizePlayer
{
    width: 100%;
    height: 100%;
    min-height: 200px;
}

.video-js {
    width: 100% !important;
    height: 100% !important;
}

.cameraControlPanel {
    width: 100%;
    margin: 2px;
    background-color: #eeeeee;
    text-align: center;
    vertical-align: middle;
}

.cameraControlPanel > button {
    margin: 5px;
}

.singleVideoContainer {
    height: 400px;
}

.cameraContainer {
    text-align: center;
    vertical-align: middle;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    margin: auto;
    padding: 5px;
}

.contentNav {
    margin-bottom: 5px;
}

/* Multi-View Select */
.contentNav div {
    display: inline-block;
}

/* Previous / Next in Library */
.contentNav .pageNavigation {
    text-align: right;
    float: right;
}

/* MultiView Selection, must be absolute !!! */
.box > div {
    width: 120px;
    z-index: 10;
    position: absolute;
}

.mainContainer > .mainContent > div {
    width: 100%;
    height: 100%;
    /*border: 1px solid yellow;*/
}

.dynamicContent table {
    width: 100%;
    height: 100%;
    table-layout: fixed;
    /*border: 1px solid green;*/
}

.dynamicContent td {
    border: 1px solid #cccccc;
    padding: 2px;
    margin: 2px;
    vertical-align: middle;
}

.socialButtons {
    display: inline-block;
    width: 100%;
    height: 100%;
    padding-top: 15px;

    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.socialButtons div {
    display: inline-block;
}

.socialButtons iframe {
    display: inline-block;
}

.icon-select {
    margin-top: -5px;
    width: 51px;
    height: 42px;
}

.component-icon > img {
    display: none;
}

.datepicker {
    height: auto;
}

.panTiltRed {
    width: 35px;
    height: 35px;
    background-color: #ffffff;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    border: 2px solid #dd1d1d;
    cursor: pointer;
    color: #dd1d1d;
    font-size: 10pt;
    font-family: 'Quicksand', sans-serif;
    font-weight: bold;
    outline:none;
}

.panTiltRedLeft {
    position: absolute;
    margin-top: 7px;
    margin-left: 48px;
    display: block;
}

.panTiltRedRight {
    position: absolute;
    margin-top: 7px;
    margin-left: 122px;
    display: block;
}

.panTilt {
    width: 65px;
    height: 65px;
    background-color:#ffffff;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    border: 2px solid #0b5ea2;
    cursor: pointer;
    color: #0b5ea2;
    font-size: 12pt;
    font-family: 'Quicksand', sans-serif;
    font-weight: bold;
    outline:none;
}

.panTilt:hover {
    background: #0179ce; /* Old browsers */
    background: -moz-linear-gradient(top, #0179ce 0%, #005d9f 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#0179ce), color-stop(100%,#005d9f)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #0179ce 0%,#005d9f 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #0179ce 0%,#005d9f 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #0179ce 0%,#005d9f 100%); /* IE10+ */
    background: linear-gradient(to bottom, #0179ce 0%,#005d9f 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0179ce', endColorstr='#005d9f',GradientType=0 ); /* IE6-9 */
    border: 0;
    color: white;
}
.panTiltUp {
    -moz-transform: rotate(-90.0deg);  /* FF3.5+ */
    -o-transform: rotate(-90.0deg);  /* Opera 10.5 */
    -webkit-transform: rotate(-90.0deg);  /* Saf3.1+, Chrome */
    filter:  progid:DXImageTransform.Microsoft.BasicImage(rotation=0.083);  /* IE6,IE7 */
    -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=0.083)"; /* IE8 */

    position: absolute;
    margin-top: 0;
    margin-left: 60px;
    display: block;
}

.panTiltDown {
    -moz-transform: rotate(90.0deg);  /* FF3.5+ */
    -o-transform: rotate(90.0deg);  /* Opera 10.5 */
    -webkit-transform: rotate(90.0deg);  /* Saf3.1+, Chrome */
    filter:  progid:DXImageTransform.Microsoft.BasicImage(rotation=-0.083);  /* IE6,IE7 */
    -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=-0.083)"; /* IE8 */

    position: absolute;
    margin-top: 100px;
    margin-left: 60px;
    display: block;
}
.panTiltButtons p {
    position: absolute;
    margin-top: 180px;
    margin-left: 60px;
    display: block;
}
.panTiltButtons > div {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
}

.panTiltLeft {
    position: absolute;
    margin-top: 50px;
    margin-left: 0;
    display: block;
}

.panTiltRight {
    position: absolute;
    margin-top: 50px;
    margin-left: 120px;
    display: block;
}

.panTiltButtons {
    border-bottom: 1px solid #dddddd;
}

.zoomButtonsContainer p, .panTiltButtons p {
    font-family: 'Source Sans Pro', sans-serif;
}
.zoomButtonsContainer, .panTiltButtons {
    width: 100%;
    height: 50%;
}

.zoomButtonsContainer > div {
    width: 210px;
    height: 94px;
    position: relative;
    top: 50%;
    left: 50%;
    margin-top: -27px;
    margin-left: -105px;
}

.zoomButtonsContainer > div > p {
    margin-top: 15px;
    height: 20px;
}

.zoomButtons {
    width: 210px;
    height: 54px;

    background: #eeeeee;
    border-radius: 10px;
    border: 2px solid #dddddd;

    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.zoomButton {
    background: rgba(0, 0, 0, 0);
    border: 0;
    color: #b2b2b2;
    font-size: 22pt;
    vertical-align: middle;
    font-family: 'Quicksand', sans-serif;
}

.zoomIn {
    padding-top: 5px;
    margin-right: 15px;
    float: right;
    text-align: left;
}

.zoomOut {
    padding-top: 3px;
    margin-left: 15px;
    float: left;
}

.panTiltDown:hover .panTiltUp:hover  {
    background: #0179ce; /* Old browsers */
    background: -moz-linear-gradient(left, #0179ce 0%, #005d9f 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,#0179ce), color-stop(100%,#005d9f)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left, #0179ce 0%,#005d9f 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left, #0179ce 0%,#005d9f 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(left, #0179ce 0%,#005d9f 100%); /* IE10+ */
    background: linear-gradient(to right, #0179ce 0%,#005d9f 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0179ce', endColorstr='#005d9f',GradientType=1 ); /* IE6-9 */
}

.loginForm {
    width: 100%;
    max-width: 475px;
    height: 460px;

    margin: auto;

    text-align: center;

    background: #0b5ca1; /* Old browsers */
    background: -moz-linear-gradient(top, #0b5ca1 0%, #0e3a61 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#0b5ca1), color-stop(100%,#0e3a61)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #0b5ca1 0%,#0e3a61 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #0b5ca1 0%,#0e3a61 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #0b5ca1 0%,#0e3a61 100%); /* IE10+ */
    background: linear-gradient(to bottom, #0b5ca1 0%,#0e3a61 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0b5ca1', endColorstr='#0e3a61',GradientType=0 ); /* IE6-9 */

    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
    border-radius: 7px;

    -moz-box-shadow: 0 0 10px rgba(0,0,0,0.9);
    -webkit-box-shadow: 0 0 10px rgba(0,0,0,0.9);
    box-shadow: 0 0 10px rgba(0,0,0,0.9);
    filter: progid:DXImageTransform.Microsoft.shadow(direction=120, color=#000000, strength=10);

    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;

    position: relative;
    top: 50%;
    margin-top: -250px;
}

.formSignin {
    width: 100%;
}

.loginTable {
    width: 100%;
    height: 250px;
    margin-top: 30px;
}

.loginTableLeftCol {
    float: left;
    width: 160px;
    height: 100%;
    background-color: #f0f0f0;
    -moz-border-radius: 5px 0 0 5px;
    -webkit-border-radius: 5px 0 0 5px;
    border-radius: 5px 0 0 5px;
}

.loginTableRightCol {
    padding-left: 160px;
    width: 100%;
    height: 100%;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    background-color: #ffffff;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

.loginTableCell {
    width: 100%;
    height: 20%;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 12pt;
}

.loginTableCell p {
    padding: 0;
    margin: 0;
    position: relative;
    top: 15px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.loginTableCell hr {
    position: relative;
    top: 0;
    width: 100%;
    border: none;
    height: 1px;
    color: #b0b0b0;
    background-color: #b0b0b0;
    padding: 0;
    margin: 0;
}

.loginTableCell>input {
    border: 0;
    width: 100%;
    height: 100%;

    padding: 0 0 0 10px;
    margin: 0;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;

    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;

    font-family: 'Source Sans Pro', sans-serif;
    font-size: 12pt;
}

.loginTableCell>input[type="checkbox"] {
    display: none;
}

.loginTableCell>label {
    position: relative;
    top: 13px;
    left: 13px;
    width: 25px;
    height: 25px;
}

input[type="checkbox"] {
    display:none;
}

input[type="checkbox"] + label {
    font: 18px bold;
    color: #444;
    cursor: pointer;
}

input[type="checkbox"] + label::before {
    content: "";
    display: inline-block;
    height: 25px;
    width: 25px;
    margin: 0 5px 0 0;
    background-image: url("../img/checkbox.png");
    background-repeat: no-repeat;
}

input[type="checkbox"] + label::before {
    background-position: 0 0;
}

input[type="checkbox"]:checked + label::before {
    background-position: -25px 0;
}

input[type="checkbox"]:disabled + label::before {
    background-position: 0 0;
}

input[type="checkbox"]:checked:disabled + label::before {
    background-position: -25px 0;
}

.halfWidth {
    width: 50% !important;
    display: inline-block;
    float: right;
    max-height: 49px;
}

.borderRight {
    border-right: 1px solid #b0b0b0 !important;
}

.borderTopRightRounded {
    -moz-border-radius: 0 5px 0 0 !important;
    -webkit-border-radius: 0 5px 0 0 !important;
    border-radius: 0 5px 0 0 !important;
}

.mainUnauthContainer {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;

    min-height: 570px;
    overflow: auto;
}

.mainUnauthContent {
    width: 100%;
    height: 100%;

    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.mainUnauthContent>div {
    width: 100%;
    height: 100%;

    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.mainUnauthContainer>footer {
    position: absolute;
    bottom: 0;
    width: auto;
    height: auto;
}

@media (max-width: 474px) {
    .loginForm {
        padding: 30px 5px 0 5px;
    }

    .loginTableLeftCol {
        width: 120px;
    }

    .loginTableRightCol {
        padding-left: 120px;
    }
}

@media (min-width: 475px) {
    .loginForm {
        padding: 30px 20px 0 20px;
    }
}

.cameraControls {
    height: 300px;
    padding-top: 10px;
}

.panTiltButtons > div {
    padding-left: 50%;
}
.panTiltButtons > div > div {
    margin-left: -90px;
}

.zoomButtonsContainer {
    height: auto;
}
.panTiltButtons  {
    border-bottom: 0;
    height: 230px;
}

.zoomButtonsContainer p {
    text-align: center;
}

.facebookGoogle {
    float: right;
}

.socialButton {
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 10px;
}

.socialButton a {
    color: black;
}

.footerText {
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 10px;
}

.closeButton {
    position: fixed;
    top: 10px;
    right: 10px;

    width: 40px;
    height: 40px;
    cursor: pointer;
}

.bootstrap-datetimepicker-widget {
    height: auto;
}

@media (max-width: 440px) {
    .bootstrap-datetimepicker-widget {
        left: 10px !important;
    }
}

.date > input {
    width: 160px;
}

.controlPanelButtonActive, .controlPanelButtonActive:hover, .controlPanelButtonActive:focus {
    background-image: none;
    background-color: red;
    border: 0;
    color: white;
}

#closeButton:hover {
}

.closeButton {
    cursor: pointer;
}

#closeButton {
    cursor: pointer;
}

.closeButton:hover {
}


/* D3 JS Styles */

.chart {
    shape-rendering: crispEdges;
}

.mini text {
    font: 9px sans-serif;
}

.main text {
    font: 12px sans-serif;
}

.month text {
    text-anchor: start;
}

.todayLine {
    stroke: blue;
    stroke-width: 1.5;
}

.axis line, .axis path {
    stroke: black;
}

.miniItem {
    stroke-width: 6;
}

.future {
    stroke: gray;
    fill: #ddd;
}

.past {
    stroke: green;
    fill: lightgreen;
}

.brush .extent {
    stroke: gray;
    fill: blue;
    fill-opacity: .165;
}

/* Event Drops */

.zoom {
    fill: transparent;
    cursor: pointer;
}

.y-axis path,
.y-axis line,
.x-axis path,
.x-axis line,
path,
line
{
    stroke: black;
    fill: none;
    stroke-width: 1px;
}

.y-axis g line {
    stroke: grey;
    fill: none;
    stroke-width: 1px;
}

.graph-body .line {
    height: 20px;
    padding: 10px;
}


.timeline450
{
    min-height: 450px;
}

.centeredDiv {
    text-align: center;
}

.fitHeight {
    min-width: 450px;
    height: 290px;
}

.borderedImage {
    margin: auto;
    /*border: 1px solid black;*/
}

/* d3 tooltip */

.timeline-preview
{
    border:1px solid black;
    border-radius: 8px;
    background: #ddd;
    padding: 4px;

    width:600px;
    height:350px;

    /*position:absolute;*/
    left:0; right:0;
    top:0; bottom:0;
    margin:auto;

    max-width:100%;
    max-height:100%;
    overflow:auto;
}

rect {
    fill: #46bcff;
}

rect.hover {
    fill: #ff0000;
}