<div class="jumbotron">

    <div class="row-fluid">
        <div id="camListHolder" class="dropDownList">
            <span>Source</span><br/>
            <select class="customSelect"></select>
        </div>
        <div id="streamModeHolder" class="dropDownList">
            <span>Streaming mode</span><br/>
            <select id="streamTypeSelector" class="customSelect">
                <option>JPEG</option>
                <% if (isMotionDetection) { %>
                <option>MOTION</option>
                <% } %>
                <option>MJPEG</option>
                <option>LIVE</option>
            </select>
        </div>
    </div>

    <div class="liveSource" id="liveSource"></div>

    <div id="cameraControlPanel" class="cameraControlPanel"></div>

</div>

<% if (showPTZ) { %>
    <div id="cameraControls" class="cameraControls"></div>
<% } %>
